<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
</head>

<body>
  <table width= "30%">
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/s_login">학생로그인</a></td>
        <td><a href="/s_register">학생회원가입</a></td>
    </tr>
</table>
  
  <div>
    <h1>학생정보입력</h1>

    <form method= "post">
        <label>학년반번호(ex.2417)</label>
        <input type="text" name= "s_grade" required><br>
        <label>이름</label>
        <input type="text" name = "s_name" required><br>
        <label>전화번호</label>
        <input type="text" name="s_pnum" required><br><br>
        <label>비밀번호</label>
        <input type="password" name="s_pw" required><br><br>

        <input type = "submit" value= "회원가입">
    </form>
</div>
</body>
</html>