<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 수정</title>
</head>
<body>
    <h1>업데이트 폼</h1>
    <form action="/update/<%=teacher[0].t_code%>" method="post">
        <table>
            <tr>
                <th>코드</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>비밀번호</th>
            </tr>
            <% teacher.forEach(function (value) { %>
                <tr>
                    <td><input type = "text" name = "t_code" value = "<%teacher[0].t_code%>"></td>
                    <td><input type = "text" name = "t_name" value = "<%teacher[0].t_name%>"></td>
                    <td><input type = "text" name = "t_pnum" value = "<%teacher[0].t_pnum%>"></td>
                    <td><input type = "text" name = "t_pw" value = "<%teacher[0].t_pw%>"></td>
                </tr>
            <% });%>
            <button type = "submit">업데이트</button>
        </table>	
    </form>
</body>
</html>