<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
</head>
<style>
  body,
html *{
    border: 0;
    margin: 0;
    margin-bottom: 0%;
    padding: 0;
    height: 100%;
}

  nav{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: relative;
    z-index: 1000;
    background-color: rgb(43, 198, 226);
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 1000px;
}
nav ul li{
    margin: 0 50px;
    padding: 8px 15px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.25s;
}
nav ul a:hover{
    color: blue;
    padding-bottom: 3px;
    border-bottom: 1px solid blue;
}

footer{
    padding: .75em;
    background-color: black;
    color: white;
    text-align: center;
}
.fixed-bottom{
    position: fixed;
    margin-bottom: 0%;
    bottom : 0;
    width : 100%;
    height: 30px;
}
h1{
  text-align: center;
}
table {
    width: 300px;
    border: 1px solid #444444;
  }
  th, td {
    border: 1px solid #444444;
    text-align: left;
  }
  #td{
    text-align: center;
    font-size: 25px;
  }
  #sub{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(168, 165, 160);
  }

  form{margin-top: 100px;
    margin-left: 40%;
    text-align: center;
    align-items: center;
  }
</style>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/t_login">선생님로그인</a>
      </li>
      <li>
        <a href="/t_register">선생님회원가입</a>
      </li>
    </ul>
  </nav>
  
  <div>
    <h1>선생님정보입력</h1>

    <form method= "post">
       <!-- <label>선생님코드</label>
        <input type="text" name= "t_code" required><br>
        <label>이름</label>
        <input type="text" name = "t_name" required><br>
        <label>전화번호</label>
        <input type="text" name="t_pnum" required><br><br>
        <label>비밀번호</label>
        <input type="password" name="t_pw" required><br><br>

        <input type = "submit" value= "회원가입"> -->
        <table>
          <tr>
            <td>선생님코드</td>
            <td><input type="text" name= "t_code" required></td>
          </tr>
          <tr>
            <td>이름</td>
            <td><input type="text" name = "t_name" required></td>
          </tr>
          <tr>
            <td>전화번호</td>
            <td><input type="text" name="t_pnum" required></td>
          </tr>
          <tr>
            <td>비밀번호</td>
            <td><input type="password" name="t_pw" required></td>
          </tr>
          <tr>
            <td colspan="2" id='td'><input type = "submit" id='sub' value= "회원가입"></td>
          </tr>
        </table>
    </form>
</div>
<footer class="fixed-bottom">
  <div class="wrap">
   방과후 관리하는 페이지
  </div>
</footer>
</body>
</html>